.workspace {
  display: flex !important;
  flex-direction: column;
  min-height: 0;
}

.workspace > .transaction-list {
  flex: 1 1 auto;
  min-height: 0;
}

.workspace > .transaction-list > .scroller {
  min-height: 0;
}

@media (max-width: 540px) {
  .workspace .account-secondary .totals > span:first-of-type {
    display: inline !important;
  }
}
